.App {
  text-align: center;
  display: block;
}

.App .App-header{
  position: fixed;
  width: 100%;
  font-size: 25px;
  color: #000000;
  padding: 1.5em 0em 20px;
  top:0;
  background-color: #ffffff;
  z-index: 10;
}

.App a{
  color: #000000;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.App-logo {
  float: left;
  padding-right: 40px;
  width: 40%;
  max-width: 430px;
  text-align: left;
  min-height: 30px;
  max-height: 150px;
  padding: 0em 2em;
}

.App-logo a img {
  border: 0px;
  max-width: 100%;
  width: auto;
  max-height: 110px;
  transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  transform: scale(1.0);
  -o-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  vertical-align: top;
  margin-right: 20px;
}

.App-content{
  padding-top: 170px;
  clear:both;
  height:100%;
}

.App-content .horizontal-scroll{
  clear:both;
  height:100%;
  white-space: nowrap;
}

.App-content .horizontal-scroll img{
  max-height:600px;
  width:auto;
  padding:1.5px;
}

.App-content .horizontal-scroll .textBox{
  height:600px;
  width:600px;
  padding:1.5px;
  display:inline-block;
  white-space: normal;
  vertical-align: bottom;
  background: #A5A29F;
    color: #fff;
    text-shadow: none;
}
  